{% extends "base.html" %} {% block content %} {% load staticfiles %}

<div class="w3-row-padding">
<form class="w3-container w3-card-4"  method="POST" action="new_client">
  <h2>Registrar Inversionista </h2>
  <div class="w3-section">      
    <input class="w3-input" id="name" type="text" required>
    <label>Nombre</label>
  </div>
  <div class="w3-section">      
    <input class="w3-input" id="email" type="text" required>
    <label>Email</label>
  </div>
  <div class="w3-section">      
    <input class="w3-input" id="domicilio" type="text" required>
    <label>Domicilio</label>
  </div>
  <div class="w3-section">      
    <input class="w3-input" id="Telefono" type="text" required>
    <label>Telefono</label>
  </div>

  <div class="w3-row">
  <div class="w3-half">
    <input id="persona" class="w3-check" type="checkbox" checked="checked">
<label>Acepto los terminos y condiciones</label>
<br><br>
  </div>

    <input id="moral" class="w3-radio" type="radio" name="gender" value="male" checked>
    <label>Persona Moral</label>
    <br>
    <input id="fisica" class="w3-radio" type="radio" name="gender" value="female">
    <label>Persona Fisica</label>
    <br>
  </div>
  </div>

<hr>
<div class="w3-center">
  <br>
  <input type="submit" value="Guardar" class="w3-button w3-theme">
  <a class="w3-button w3-theme-d3 w3-disabled">Salir</a>
  <br><br>
  <a class="w3-button w3-circle w3-large w3-black"><i class="fa fa-plus"></i></a>
</div>
<br>
</form>
{% endblock %}
